.p-button,
.p-button:visited {
    cursor: pointer;
    color: var(--button-color);
    font-size: var(--button-font-size);
    background: var(--button-background-color);
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    width: fit-content;
    padding: 0 1.5rem;
    border: none;
    height: var(--forms-input-height);
    letter-spacing: 0.5px;
    opacity: 1;
    transition: var(--transition);
    i {
        font-size: var(--font-size-4);
    }
    &:focus,
    &:active,
    &:hover,
    &:enabled:focus,
    &:enabled:active,
    &:enabled:hover {
        opacity: var(--opacity-on-hover);
    }
}

.p-button-label {
    font-weight: 400;
}

.p-button-outlined {
    color: var(--button-background-color);
    background: none;
    border: 1px solid var(--button-background-color);
}

.p-button-icon-only {
    padding: 0;
    width: var(--forms-input-height);
}

.p-button.full-width {
    width: 100%;
}

.p-button.fit-width {
    width: fit-content;
    min-width: fit-content;
}

.p-button.small {
    line-height: 35px;
    height: 35px;
    text-transform: capitalize;
    min-width: fit-content;
}

.p-button[disabled],
.p-button-loading {
    pointer-events: none;
    opacity: var(--opacity-on-hover);
}
