@use 'typography';

.p-card {
    background: var(--card-background);
    color: var(--card-color);
    overflow: hidden;
    border-radius: var(--border-radius);
}

.p-card-title {
    @extend .like-h4 !optional;
}

.p-card-subtitle {
    @extend .like-p !optional;
}

.p-card-content p {
    @extend .small !optional;
}
