:root,
[data-style-mode='light'],
.style-mode-light {
    --font-family: 'Open Sans', sans-serif;
    --font-family-header: 'Open Sans', sans-serif;
    --font-size: 1rem;
    --font-ratio: 1.125;
    --font-size-1: calc(var(--font-size-2) / var(--font-ratio));
    --font-size-2: calc(var(--font-size-3) / var(--font-ratio));
    --font-size-3: calc(var(--font-size-4) / var(--font-ratio));
    --font-size-4: calc(var(--font-size-5) / var(--font-ratio));
    --font-size-5: calc(var(--font-size-6) / var(--font-ratio));
    --font-size-6: var(--font-size);
    --font-size-7: calc(var(--font-size-6) * var(--font-ratio));
    --font-size-8: calc(var(--font-size-7) * var(--font-ratio));
    --font-size-9: calc(var(--font-size-8) * var(--font-ratio));
    --font-size-10: calc(var(--font-size-9) * var(--font-ratio));
    --font-size-11: calc(var(--font-size-10) * var(--font-ratio));
    --font-size-12: calc(var(--font-size-11) * var(--font-ratio));
    --font-size-13: calc(var(--font-size-12) * var(--font-ratio));
    --font-size-14: calc(var(--font-size-13) * var(--font-ratio));
    --font-size-15: calc(var(--font-size-14) * var(--font-ratio));
    --font-size-16: calc(var(--font-size-15) * var(--font-ratio));
    --font-size-17: calc(var(--font-size-16) * var(--font-ratio));
    --font-size-18: calc(var(--font-size-17) * var(--font-ratio));
    --font-size-19: calc(var(--font-size-18) * var(--font-ratio));
    --font-size-20: calc(var(--font-size-19) * var(--font-ratio));
    --font-weight: normal;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    --white: #ffffff;
    --black: #121212;
    --gray: #a0a0a0;
    --light-gray: #f5f5f5;
    --dark-gray: #808080;
    --blue: #0a84ff;
    --light-blue: #bedeff;
    --green: #008550;
    --red: #b71c1c;
    --yellow: #ffefdb;
    --purple: #7f7caf;

    --background: var(--white);
    --border-radius: 20px;
    --button-background-color: var(--blue);
    --button-color: var(--white);
    --button-font-size: var(--font-size-4);
    --forms-inline-button-padding: 0 1rem;
    --forms-input-background-color: var(--light-gray);
    --forms-input-border: 1px solid #e0e0e0;
    --forms-input-color: var(--text-color);
    --forms-input-font-family: var(--font-family);
    --forms-input-font-size: var(--font-size-5);
    --forms-input-height: 40px;
    --forms-input-outline-color: 1px solid var(--blue);
    --forms-input-padding: 0.5rem 1rem;
    --forms-text-area-height: 100px;
    --max-container-width: 1493px;
    --link-button-color: var(--p-link-500);
    --link-button-focus-shadow: 0 0 0.2rem 0.2rem var(--p-link-600);
    --link-button-hover-color: var(--p-link-400);
    --link-button-text-hover-decoration: underline;
    --link-color: var(--blue);
    --link-hover-color: var(--blue);
    --link-hover-text-decoration: underline;
    --link-text-decoration: none;
    --opacity-on-hover: 0.7;
    --tag-background: var(--black);
    --tag-color: var(--white);
    --tag-font-size: var(--font-size-4);
    --tag-hover-background: var(--black);
    --tag-hover-color: var(--white);
    --tag-hover-opacity: var(--opacity-on-hover);
    --tag-font-weight: var(--font-weight-400);
    --text-color: var(--black);
    --transition: all 200ms ease-out;
}
