.p-inputtext,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
select,
.p-select,
textarea {
  width: 100%;
  color: var(--forms-input-color);
  background: var(--forms-input-background-color);
  font-family: var(--font-family);
  font-size: var(--forms-input-font-size);
  font-weight: var(--forms-input-font-weight);
  border-radius: var(--border-radius);
  border: var(--forms-input-border);
  height: var(--forms-input-height);
  max-width: var(--forms-input-width);
  padding: var(--forms-input-padding);

  &:focus,
  &:focus-visible {
    outline: none;
    border: var(--forms-input-focus-border);
  }

  .p-select-label,
  &::placeholder {
    color: var(--forms-input-color);
    font-family: var(--font-family);
    font-size: var(--forms-input-font-size);
    font-weight: var(--forms-input-font-weight);
    line-height: calc(var(--forms-input-height) / 2);
  }
}

textarea,
.p-inputtextarea {
  height: auto;
}

// checkbox
.p-checkbox-box {
  border: var(--forms-input-border);
  background: var(--forms-input-background-color);
  box-shadow: none;
}
.p-checkbox-checked .p-checkbox-icon {
  color: var(--forms-input-color);
}

// radio button
.p-radiobutton-box {
  border: var(--forms-input-border);
  background: var(--forms-input-background-color);
  box-shadow: none;
}
.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  background: var(--button-background-color);
}

// select
.p-select-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: var(--forms-input-focus-border);
}
.p-select-label {
  margin: -11px;
}
.p-select-overlay {
  background: var(--light-gray);
  color: var(--forms-input-color);
  border: var(--forms-input-border);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}
.p-select-list-container {
  &::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--gray); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: none; /* creates padding around scroll thumb */
  }
}
.p-select-option {
  font-family: var(--font-family);
  font-size: var(--forms-input-font-size);
  font-weight: var(--forms-input-font-weight);
}
.p-select-option.p-focus {
  background: var(--white);
}
.p-select-dropdown {
  color: var(--forms-input-color);
}

// input group overrides
.p-inputgroup .p-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.p-inputgroupaddon {
  background: none;
  border: none;
}
.p-inputgroupaddon .p-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--button-background-color);
}

.p-inputnumber,
.p-autocomplete,
.p-dropdown,
.p-password {
  line-height: calc(var(--forms-input-height) / 2);
}

.p-float-label label,
.p-dropdown .p-dropdown-label.p-placeholder,
label {
  font-family: var(--font-family);
  font-size: var(--forms-input-font-size);
}

.p-dropdown-label {
  padding-top: 13px;
}

.p-calendar {
  border-radius: 20px;
  border: 1px solid var(--light-gray);
  &:focus,
  &:focus-visible {
    border: var(--forms-input-border);
  }
}

.p-togglebutton {
  font-family: var(--font-family);
  font-size: var(--forms-input-font-size);
  font-weight: var(--forms-input-font-weight);
  color: var(--forms-input-color);
  background: var(--forms-input-background-color);
  border: var(--forms-input-background-color);
  &:focus,
  &:focus-visible {
    border: none;
    outline: none;
  }
}
.p-togglebutton-checked .p-togglebutton-content {
  background: var(--button-background-color);
  color: var(--button-color);
  font-weight: var(--button-font-weight);
}

.p-toggleswitch-handle {
  background: var(--button-background-color);
}
.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background: var(--button-background-color);
  border-color: var(--button-background-color);
  .p-toggleswitch-handle {
    background: var(--button-color);
  }
}
.p-toggleswitch-slider {
  background: var(--forms-input-background-color);
  border: var(--forms-input-border);
}

.p-selectbutton {
  border: var(--forms-input-border);
}
