.p-inputtext,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
select,
.p-select,
textarea {
  width: 100%;
  color: var(--text-color);
  background: var(--forms-input-background-color);
  font-family: var(--font-family);
  font-size: var(--forms-input-font-size);
  font-weight: 300;
  border-radius: var(--border-radius);
  border: var(--forms-input-border);
  height: var(--forms-input-height);
  max-width: var(--forms-input-width);
  padding: var(--forms-input-padding);

  &:focus,
  &:focus-visible {
    outline: none;
    border: var(--forms-input-focus-border);
  }

  .p-select-label,
  &::placeholder {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--forms-input-font-size);
    font-weight: 300;
    line-height: calc(var(--forms-input-height) / 2);
  }
}

// select overrides
.p-select-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: var(--forms-input-focus-border);
}
.p-select-label {
  margin: -11px;
}
.p-select-overlay {
  background: var(--light-gray);
  color: var(--text-color);
  border: var(--forms-input-border);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}
.p-select-list-container {
  &::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--gray); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: none; /* creates padding around scroll thumb */
  }
}
.p-select-option {
  font-family: var(--font-family);
  font-size: var(--forms-input-font-size);
  font-weight: 300;
}
.p-select-option.p-focus {
  background: var(--white);
}

// input group overrides
.p-inputgroup .p-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.p-inputgroupaddon {
  background: none;
  border: none;
}
.p-inputgroupaddon .p-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--button-background-color);
}

.p-inputnumber,
.p-autocomplete,
.p-dropdown,
.p-password {
  width: 100%;
  line-height: calc(var(--forms-input-height) / 2);
}

.p-checkbox.p-highlight .p-checkbox-box {
  background: var(--blue);
  border: var(--blue);
}

.p-float-label label,
.p-dropdown .p-dropdown-label.p-placeholder,
label {
  font-family: var(--font-family);
  font-size: var(--font-size-5);
  font-weight: 300;
  color: var(--gray);
}

.p-dropdown-label {
  padding-top: 13px;
}

textarea,
.p-inputtextarea {
  background: var(--forms-input-background-color);
  height: auto;
  border-radius: 20px;
  border: 1px solid var(--light-gray);
  &:focus,
  &:focus-visible {
    border: var(--forms-input-border);
  }
}

.p-calendar {
  border-radius: 20px;
  border: 1px solid var(--light-gray);
  &:focus,
  &:focus-visible {
    border: var(--forms-input-border);
  }
}
