.tag {
    width: fit-content;
    height: 28px;
    line-height: 26px;
    text-align: center;
    background: var(--tag-background);
    color: var(--tag-color);
    border: var(--tag-border);
    border-radius: var(--border-radius);
    padding: 0 0.75rem;
    font-size: var(--tag-font-size);
    font-weight: var(--tag-font-weight);
    text-transform: uppercase;
    &.active {
        background: var(--tag-background);
    }
}
.tag.nsfw {
    color: var(--red);
    border: solid 1px var(--red);
}
.tag.cute {
    color: var(--purple);
    border: solid 1px var(--purple);
}
.tag.food {
    color: var(--green);
    border: solid 1px var(--green);
}
