@use 'primeicons/primeicons.css';
@use 'primeflex/primeflex.css';
@use 'cssvars';
@use 'typography';
@use 'transitions';
@use 'buttons';
@use 'forms';
@use 'cards';
@use 'tags';

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--background);
    font-family: var(--font-family);
    transition: var(--transition);
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:visited,
a:active {
    text-decoration: var(--link-text-decoration);
    color: var(--link-color);
    transition: var(--transition);

    &:hover {
        text-decoration: var(--link-hover-text-decoration);
        color: var(--link-hover-color);
    }
}

.container {
    width: 100%;
    max-width: var(--max-container-width);
    margin: auto;
}

.border-radius {
    border-radius: var(--border-radius);
}

.cursor-pointer,
.clickable {
    cursor: pointer;
    opacity: 1;
    transition: var(--transition);
    &:hover {
        opacity: var(--opacity-on-hover);
    }
}

.changes-saved-toast {
    position: fixed;
    bottom: 0;
    right: 25px;
    width: 350px;
    z-index: 1000;
}

.large-gutters > .col {
    padding: 0 1rem;
}
.large-gutters > .col-fixed {
    padding: 0 1rem;
}

// prime vue overrides
.p-message {
    border-radius: var(--border-radius);
}
.p-message-content {
    padding: 0.75rem 1.25rem;
}
.p-message-text {
    font-weight: 500;
    font-size: var(--font-size-5);
}
.p-message-info {
    background-color: var(--light-blue);
    color: var(--blue);
    border: 1px solid var(--blue);
    outline-color: transparent;
}
.p-message-error {
    background-color: var(--light-red);
    color: var(--red);
    border: 1px solid var(--red);
    outline-color: transparent;
}
.p-message-warn {
    background-color: var(--light-yellow);
    color: var(--orange);
    border: 1px solid var(--orange);
    outline-color: transparent;
}
.p-message-success {
    background-color: var(--light-green);
    color: var(--green);
    border: 1px solid var(--green);
    outline-color: transparent;
}
.style-mode-dark .p-message-info,
.style-mode-dark .p-message-error,
.style-mode-dark .p-message-warn,
.style-mode-dark .p-message-success {
    background-color: var(--dark-gray);
}
.p-progressspinner-circle {
    stroke: var(--blue) !important;
}
.p-tooltip .p-tooltip-text {
    background: var(--black);
    color: var(--white);
    font-weight: 300;
    font-size: var(--font-size-5);
}
.style-mode-dark .p-tooltip .p-tooltip-text {
    background: var(--dark-gray);
    color: var(--white);
}
.p-divider-horizontal:before {
    border-block-start: 1px solid var(--gray);
}
.p-rating-option-active .p-rating-icon {
    color: var(--orange);
}
.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-option:hover .p-rating-icon {
    color: var(--orange);
}
.p-datatable-header-cell,
.p-datatable-tbody > tr {
    background: var(----forms-input-background-color);
    border-bottom: var(--forms-input-border);
    color: var(--text-color);
}
.p-datatable-tbody > tr > td {
    border-bottom: var(--forms-input-border);
}

// accessibility
// hide outline when using a mouse but not when using a keyboard
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
[data-js-focus-visible] .p-button:focus:not([data-focus-visible-added]) {
    outline: none;
}
[data-js-focus-visible] .button:focus:not([data-focus-visible-added]) {
    outline: none;
}
