@use 'primeicons/primeicons.css';
@use 'primeflex/primeflex.css';
@use 'cssvars';
@use 'typography';
@use 'transitions';
@use 'buttons';
@use 'forms';
@use 'cards';

$medium: 768px;

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--background);
    font-family: var(--font-family);
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:visited,
a:active {
    text-decoration: var(--link-text-decoration);
    color: var(--link-color);
    transition: var(--transition);

    &:hover {
        text-decoration: var(--link-hover-text-decoration);
        color: var(--link-hover-color);
    }
}

.container {
    max-width: var(--max-container-width);
    margin: auto;
}

.tag {
    width: fit-content;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: var(--tag-background);
    color: var(--tag-color);
    border-radius: var(--border-radius);
    padding: 0 0.75rem;
    font-size: var(--tag-font-size);
    font-weight: var(--tag-font-weight);
    text-transform: uppercase;
    &.active {
        background: var(--tag-background);
    }
}

.cursor-pointer,
.clickable {
    cursor: pointer;
    opacity: 1;
    transition: var(--transition);
    &:hover {
        opacity: var(--opacity-on-hover);
    }
}

.changes-saved-toast {
    position: fixed;
    bottom: 0;
    right: 25px;
    width: 350px;
    z-index: 1000;
}

// prime vue overrides
.p-message {
    border-radius: var(--border-radius);
}
.p-message-content {
    padding: 0.75rem 1.25rem;
}
.p-message-text {
    font-weight: 500;
    font-size: var(--font-size-5);
}
.p-message-info {
    background-color: var(--light-blue);
    color: var(--blue);
    border: 1px solid var(--blue);
}
.p-message-error {
    background-color: var(--light-red);
    color: var(--red);
    border: 1px solid var(--red);
}
.p-message-warn {
    background-color: var(--light-yellow);
    color: var(--yellow);
    border: 1px solid var(--yellow);
}
.p-message-success {
    background-color: var(--light-green);
    color: var(--green);
    border: 1px solid var(--green);
}
.p-progressspinner-circle {
    stroke: var(--blue) !important;
}
.p-tooltip .p-tooltip-text {
    background: var(--black);
    color: var(--white);
    font-weight: 300;
    font-size: var(--font-size-5);
}
.p-divider-horizontal:before {
    border-block-start: 1px solid var(--gray);
}

// accessibility
// hide outline when using a mouse but not when using a keyboard
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
[data-js-focus-visible] .p-button:focus:not([data-focus-visible-added]) {
    outline: none;
}
[data-js-focus-visible] .button:focus:not([data-focus-visible-added]) {
    outline: none;
}
